@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: segoe;
	font-display: swap;
	src: url("../fonts/segoe-ui_1.woff2") format("woff2"), url("../fonts/segoe-ui_1.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
