// Заголовки, загальні БЕМ блоки та інше...

// Картка з продуктом
.block-productDescription {
  // .block-productDescription__img
  width: toRem(283);
  &__img {
    width: toRem(283);
    height: toRem(226);
    overflow: hidden;
    position: relative;
    background-color: $bgLightColor;
    &:not(:last-child) {
      margin-bottom: toRem(13);
    }
  }
  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .block-productDescription__header

  &__header {
    font-size: toRem(35);
    font-weight: normal;
    line-height: 110.571429%;
    color: $mainColor;
    max-width: toRem(251); /* 38.7/35 */
    &:not(:last-child) {
      margin-bottom: toRem(17);
    }
  }

  // .block-productDescription__productCategory

  &__productCategory {
    &:not(:last-child) {
      margin-bottom: toRem(17);
    }
  }

  // .block-productDescription__text
}
.text {
  color: $bgGrayColor;
  line-height: 150%;
  &:not(:last-child) {
    margin-bottom: toRem(134);
  }
  &--black {
    color: $bgDarkColor;
  } /* 24/16 */
  &--white {
    color: $whiteColor;
  }
}
// =================================================================================
