//====================================================================================================

.footer {
  // .footer__container
  background-color: $bgLightColor;
  &__container {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  // .footer__body

  &__body {
    display: grid;
    grid-template-columns: 26% 26% 1fr;
    column-gap: 15px;
    // justify-content: flex-start;
    @include adaptiveValue('padding-top', 37, 20);
    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: toRem(10);
      row-gap: toRem(10);
    }
  }
  .small-title {
    line-height: 200%;
    /* 32/16 */
    &:not(:last-child) {
      margin-bottom: toRem(6);
    }
  }
  // .footer__contact

  &__contact {
    @media (max-width: $mobile) {
      display: grid;
      justify-content: center;
    }
  }

  // .footer__company

  &__company {
    @media (max-width: $mobile) {
      justify-content: center;
      text-align: center;
    }
  }

  // .footer__legal

  &__legal {
    @media (max-width: $mobile) {
    }
  }

  // .footer__info

  &__info {
  }
}
.contact-footer {
  // .contact-footer__title

  &__title {
  }

  // .contact-footer__link

  &__link {
    font-size: toRem(15);
    line-height: 133.333333%; /* 20/15 */
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  & p {
    line-height: 200%;
  }
  & p:nth-of-type(1) {
    @include adaptiveValue('margin-bottom', 70, 20);
  }
}
.company-footer {
  &__title {
  }
}
.menu-company {
  &__body {
  }

  // .menu-company__list

  &__list {
  }

  // .menu-company__item

  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  // .menu-company__link

  &__link {
    display: inline-block;
    line-height: 133.333333%; /* 20/15 */
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.legal-footer {
  // .legal-footer__title
  @media (max-width: $mobile) {
    grid-column: 1 / span 2;
    justify-content: center;
    text-align: center;
  }
  &__title {
  }
}
.menu-legal {
  // .menu-legal__body

  &__body {
  }

  // .menu-legal__list

  &__list {
  }

  // .menu-legal__item

  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  // .menu-legal__link

  &__link {
    line-height: 20/15;
    display: inline-block;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.info-footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: toRem(15);
  @include adaptiveValue('padding-top', 97, 40);
  padding-bottom: toRem(20);
  justify-content: flex-end;
  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: toRem(10);
  }
  &__icons {
    display: flex;
    margin-bottom: toRem(16);
    @include adaptiveValue('font-size', 36, 18);
    font-size: toRem(36);
  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  // .info-footer__certificate

  &__certificate {
    display: flex;
    justify-content: center;
    @media (max-width: $mobile) {
      order: 3;
      grid-column: 1 / span 2;
    }
  }

  // .info-footer__image

  &__image {
    display: flex;
    justify-content: flex-end;
    @media (max-width: $mobile) {
      order: 2;
    }
  }
}
.footer__copyright {
  text-align: center;
  padding: toRem(15) toRem(10);
  @include adaptiveValue('font-size', 18, 14);
}
.icons {
}
.icons-item {
}
