//====================================================================================================
.header {
  // .header__container
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  min-height: toRem(90);
  padding-top: toRem(25);

  @include adaptiveValue('min-height', 90, 70);
  &__container {
    display: grid;
    align-items: center;
    gap: toRem(10);
    grid-template-columns: 2% 10% 1fr 17% 4%;
    @media (max-width: $mobile) {
      gap: toRem(0);
      grid-template-columns: auto 1fr auto auto;
    }
  }

  // .header__btnCategories

  &__btnCategories {
    padding-top: toRem(5);
    display: grid;
    align-content: center;
    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .header__logo

  &__logo {
    position: relative;
    z-index: 5;
    display: grid;
    justify-content: end;
    align-content: center;
    @include adaptiveValue('width', 122, 142);
    @media (max-width: $mobile) {
      justify-content: flex-start;
    }
  }

  // .header__formSearch
  &__formSearch {
    align-items: center;
    justify-content: center;
    padding-left: toRem(10);
    padding-right: toRem(10);
    display: flex;
  }
  &__formSearch-body {
    position: relative;
  }
  &__formSearch input {
    padding: toRem(8) toRem(26) toRem(8) toRem(26);
    font-size: toRem(16);
    border-radius: 1000px;
    border: 1px solid $formColor;
    line-height: 150%; /* 24/16 */

    background-color: $whiteColor;
    @media (max-width: $mobile) {
      @include adaptiveValue('width', 700, 227);
    }
  }

  &__formSearch img {
    position: absolute;
    top: toRem(10);
    right: toRem(20);
    width: toRem(20);
    height: toRem(20);
  }

  // .header__menu

  &__menu {
  }

  // .header__action

  &__action {
  }

  // .header__btnBuying
}
.menu {
  // .menu__icon

  &__icon {
  }

  // .menu__body

  &__body {
    @media (max-width: $mobile) {
      display: grid;
      position: fixed;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      transition: left 0.5s;
      overflow: auto;
      padding: toRem(120) toRem(15) toRem(30) toRem(15);
      background-color: $bgLightColor;
      grid-template-rows: 1fr auto auto;
      row-gap: 20px;
      &::before {
        content: '';
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        transition: left 0.5s;
        @include adaptiveValue('height', 90, 70);
        background-color: $brownColor;
        z-index: 2;
      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }

  // .menu__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(25);
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      row-gap: toRem(30);
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    display: inline-block;
    line-height: 125%;
    text-transform: capitalize;
    transition: all 0.3;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $mobile) {
      font-size: toRem(28);
    }
  }
  /* 20/16 */
}

.icon-menu {
}
.action-header {
  // z-index: 5;
  display: flex;
  justify-content: end;
  @media (max-width: $mobile) {
    justify-content: center;
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}
